$color-background: #110402;
$color-footer-mobile-1: lighten($color-background, 2%);
$color-footer-mobile-2: lighten($color-background, 10%);
$color-background-code: lighten($color-background, 2%);
$color-border: #e7c0ba;
$color-meta: #e7c0ba;
$color-meta-code: #e7c0ba;
$color-link: #af2e1a;
$color-text: #f7eae8;
$color-accent-3: #f7eae8;
$color-accent-2: #f7eae8;
$color-accent-1: #af2e1a;
$color-quote: #af2e1a;
