$color-background: #272e33;
$color-footer-mobile-1: lighten($color-background, 2%);
$color-footer-mobile-2: lighten($color-background, 10%);
$color-background-code: lighten($color-background, 2%);
$color-border: #7a8478;
$color-meta: #7a8478;
$color-meta-code: #7a8478;
$color-link: #a7c080;
$color-text: #d3c6aa;
$color-accent-3: #d3c6aa;
$color-accent-2: #d3c6aa;
$color-accent-1: #a7c080;
$color-quote: #a7c080;
