// by @GabiThume (https://github.com/gabithume)
$color-background: #e4e4e4;
$color-footer-mobile-1: darken($color-background, 2%);
$color-footer-mobile-2: darken($color-background, 10%);
$color-background-code: darken($color-background, 2%);
$color-border: #666;
$color-meta: #666;
$color-meta-code: lighten($color-meta, 10%);
$color-link: #013e85;
$color-text: #363533;
$color-accent-3: #666666;
$color-accent-2: #111111;
$color-accent-1: #013e85;
$color-quote: #013e85;
